<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="/js/test.js" defer></script>
		
		<script src="/js/constants.js" defer></script>
		<script src="/js/websocket-test.js" defer></script>
	
		<title>Test</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Status: <span id="status">Not connected</span></p>
		<button id="buttonConnect">Connect</button>
		<hr>
		<input type="text" id="chatBox"/><button id="chatSend">Enviar</button>
		<div id="chat">
			El chat está vacío, di "Hola"
		</div>
	</body>
</html>